schema/deprecated/openmanual_procedure_0.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="procedure">
      <xs:complexType>
         <xs:all>
            <xs:element ref="title" />
            <xs:element ref="summary" />
            <xs:element ref="image" />
            <xs:element ref="author" />
            <xs:element ref="time_required" />
            <xs:element ref="difficulty" />
            <xs:element ref="categories" />
            <xs:element ref="introduction" />
            <xs:element ref="tools" />
            <xs:element ref="parts" />
            <xs:element ref="flags" />
            <xs:element ref="documents" />
            <xs:element ref="prerequisites" />
            <xs:element ref="steps" />
            <xs:element ref="conclusion" />
         </xs:all>
         <xs:attribute name="locale" use="required" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:element name="title" type="xs:string" />
   <xs:element name="summary" type="xs:string" />
   <xs:element name="author">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="id" use="optional" type="xs:integer" />
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>
  <xs:element name="time_required" type="xs:string" />
   <xs:element name="difficulty" type="xs:string" />
   <xs:element name="categories">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="category" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="category" type="xs:string" />
   <xs:element name="introduction">
     <xs:complexType mixed="true">
        <xs:sequence>
           <xs:any minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
     </xs:complexType>
   </xs:element>
   <xs:element name="tools">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tool" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="tool">
      <xs:complexType mixed="true">
         <xs:attribute name="notes" use="required" />
         <xs:attribute name="thumbnail" use="optional" type="xs:anyURI" />
         <xs:attribute name="url" use="optional" type="xs:anyURI" />
         <xs:attribute name="quantity" use="optional" type="xs:string" />
         <xs:attribute name="type" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:element name="parts">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded"  ref="part" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="part">
      <xs:complexType mixed="true">
         <xs:attribute name="notes" use="optional" />
         <xs:attribute name="thumbnail" use="optional" type="xs:anyURI" />
         <xs:attribute name="url" use="optional" type="xs:anyURI" />
         <xs:attribute name="quantity" use="optional" type="xs:string" />
         <xs:attribute name="type" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>
  <xs:element name="flags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="flag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flag">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:string" />
      <xs:attribute name="title" type="xs:string" />
    </xs:complexType>
  </xs:element>
   <xs:element name="documents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="document">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="url" use="required" type="xs:anyURI" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
   </xs:element>
   <xs:element name="prerequisites">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="prerequisite" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="prerequisite">
      <xs:complexType mixed="true">
         <xs:attribute name="id" use="required" type="xs:integer" />
         <xs:attribute name="locale" use="required" type="xs:string" />
         <xs:attribute name="path" use="required" />
      </xs:complexType>
   </xs:element>
   <xs:element name="steps">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="step" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="step">
      <xs:complexType>
         <xs:all>
            <xs:element ref="lines" />
            <xs:element ref="media" />
         </xs:all>
         <xs:attribute name="number" use="required" type="xs:integer" />
         <xs:attribute name="title" use="required" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:element name="lines">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="10" ref="line" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="line">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:any minOccurs="0" />
         </xs:sequence>
         <xs:attribute name="bullet" use="required" type="xs:string" />
         <xs:attribute name="level" use="required" type="xs:integer" />
      </xs:complexType>
   </xs:element>
   <xs:element name="media">
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="3" ref="image" />
               <xs:element maxOccurs="1" ref="embed" />
               <xs:element maxOccurs="1" ref="video" />
            </xs:choice>
         </xs:sequence>
         <xs:attribute name="type" use="required" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:element name="conclusion">
     <xs:complexType mixed="true">
        <xs:sequence>
           <xs:any minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
     </xs:complexType>
   </xs:element>
   <xs:element name="image">
      <xs:complexType mixed="true">
         <xs:attribute name="orderby" type="xs:integer" />
         <xs:attribute name="large" use="optional" type="xs:string" />
         <xs:attribute name="medium" use="optional" type="xs:string" />
         <xs:attribute name="standard" use="optional" type="xs:string" />
         <xs:attribute name="thumbnail" use="optional" type="xs:string" />
         <xs:attribute name="mini" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:element name="embed">
      <xs:complexType mixed="true">
         <xs:attribute name="height" type="xs:integer" />
         <xs:attribute name="width" type="xs:integer" />
         <xs:attribute name="type" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:element name="video">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="encoding" />
         </xs:sequence>
       </xs:complexType>
   </xs:element>
   <xs:element name="encoding">
      <xs:complexType mixed="true">
         <xs:attribute name="width" type="xs:integer" />
         <xs:attribute name="height" type="xs:integer" />
         <xs:attribute name="format" type="xs:string" />
         <xs:attribute name="max_video_bitrate" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <!-- Allowed HTML elements -->


   <xs:element name="p" type="blockType" />
   <xs:element name="a" type="blockType" />
   <xs:element name="strong" type="blockType" />
   <xs:element name="em" type="blockType" />
   <xs:element name="h1" type="blockType" />
   <xs:element name="h2" type="blockType" />
   <xs:element name="h3" type="blockType" />
   <xs:element name="h4" type="blockType" />
   <xs:element name="h5" type="blockType" />
   <xs:element name="tt" type="blockType" />
   <xs:element name="code" type="blockType" />
   <xs:element name="br" type="xs:string" />
   <xs:element name="ul" type="blockType" />
   <xs:element name="li" type="blockType" />
   <xs:element name="sub" type="blockType" />
   <xs:element name="sup" type="blockType" />
   <xs:element name="del" type="blockType" />
   <xs:element name="ins" type="blockType" />
   <xs:element name="div" type="blockType" />

   <xs:complexType name="blockType" mixed="true">
      <xs:sequence minOccurs='0' maxOccurs='unbounded'>
         <xs:choice>
            <xs:element ref="a" />
            <xs:element ref="strong" />
            <xs:element ref="em" />
            <xs:element ref="code" />
            <xs:element ref="br" />
            <xs:element ref="ul" />
            <xs:element ref="li" />
            <xs:element ref="sub" />
            <xs:element ref="sup" />
            <xs:element ref="del" />
            <xs:element ref="ins" />
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" use="optional"/>
      <xs:attribute name="class" use="optional"/>
      <xs:attribute name="href" use="optional"/>
      <xs:attribute name="style" use="optional"/>
      <xs:attribute name="rel" use="optional"/>
      <xs:attribute name="title" use="optional"/>
   </xs:complexType>


<!--
 <xs:element name='h1'
   type="xs:string" />

 <xs:element name='h2'
   type="xs:string" />

 <xs:element name='h3'
   type="xs:string" />

 <xs:element name='p' type="blockType" />

 <xs:element name='div' type="blockType" />

 <xs:element name='a'>
  <xs:complexType>
   <xs:attribute name='href' type='xs:string' use='optional'/>
   <xs:attribute name='name' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>
-->

</xs:schema>
