schema/omanual_procedure_0.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://omanual.com/schema" targetNamespace="http://omanual.com/schema">

   <xs:annotation>
      <xs:documentation xml:lang="en">
         A procedure is a structured collection of steps. Each must include
         text and media. For consistency of display, we recommend each step
         consist of 1-3 images or one rich media object, as well as no
         more than eight lines of text.
      </xs:documentation>
   </xs:annotation>

   <xs:include schemaLocation="omanual_simplifiedhtml_0.4.xsd" />

   <xs:element name="procedure">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="title" />
            <xs:element ref="summary" />
            <xs:element ref="image" />
            <xs:element ref="author" />
            <xs:element ref="time_required" />
            <xs:element ref="difficulty" />
            <xs:element ref="categories" />
            <xs:element ref="introduction" />
            <xs:element ref="modified_date" />
            <xs:element ref="created_date" />
            <xs:element ref="tools" />
            <xs:element ref="parts" />
            <xs:element ref="flags" />
            <xs:element ref="documents" />
            <xs:element ref="prerequisites"/>
            <xs:element ref="steps"/>
            <xs:element ref="conclusion"/>
         </xs:sequence>
         <xs:attribute name="locale" use="required" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="modified_date" type="xs:dateTime">
   </xs:element>

   <xs:element name="created_date" type="xs:dateTime">
   </xs:element>

   <xs:element name="title">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="subject" use="optional" type="xs:string" />
               <xs:attribute name="type" use="optional" type="xs:string" />
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="summary" type="xs:string" />

   <xs:element name="author">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="id" use="optional" type="xs:integer" />
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="time_required" type="xs:string" />

   <xs:element name="difficulty" type="xs:string" />

   <xs:element name="categories">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="category" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="category" type="xs:string" />

   <xs:element name="introduction">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="media" />
            <xs:any minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="tools">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tool" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="tool">
      <xs:complexType mixed="true">
         <xs:attribute name="sku" use="optional" type="xs:string" />
         <xs:attribute name="thumbnail" use="optional" type="xs:anyURI" />
         <xs:attribute name="notes" use="optional" type="xs:string" />
         <xs:attribute name="quantity" use="optional" type="xs:string" />
         <xs:attribute name="type" use="optional" type="xs:string" />
         <xs:attribute name="url" use="optional" type="xs:anyURI" />
      </xs:complexType>
   </xs:element>

   <xs:element name="parts">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded"  ref="part" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="part">
      <xs:complexType mixed="true">
         <xs:attribute name="sku" use="optional" type="xs:string" />
         <xs:attribute name="thumbnail" use="optional" type="xs:anyURI" />
         <xs:attribute name="notes" use="optional" type="xs:string" />
         <xs:attribute name="quantity" use="optional" type="xs:string" />
         <xs:attribute name="type" use="optional" type="xs:string" />
         <xs:attribute name="url" use="optional" type="xs:anyURI" />

         <xs:element ref="external_sources" />
      </xs:complexType>
   </xs:element>

   <xs:element name="external_sources">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="external_source" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="external_source">
      <xs:complexType>
         <xs:attribute name="id" use="optional" type="xs:string" />
         <xs:attribute name="url" use="optional" type="xs:anyURI" />
         <xs:attribute name="notes" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="flags">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="flag" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="flag">
      <xs:complexType mixed="true">
         <xs:attribute name="id"  use="optional" type="xs:string" />
         <xs:attribute name="title" use="required" type="xs:string" />
         <xs:attribute name="image" use="optional" type="xs:anyURI" />
      </xs:complexType>
   </xs:element>

   <xs:element name="documents">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="document" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="document">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="url" use="optional" type="xs:anyURI" />
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="prerequisites">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="prerequisite" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="prerequisite">
      <xs:complexType mixed="true">
         <xs:attribute name="id" use="required" type="xs:integer" />
         <xs:attribute name="locale" use="required" type="xs:string" />
         <xs:attribute name="path" use="required" type="xs:anyURI" />
      </xs:complexType>
   </xs:element>

   <xs:element name="steps">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="step" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="step">
      <xs:complexType>
         <xs:all>
            <xs:element ref="lines" minOccurs="1" maxOccurs="8" />
            <xs:element ref="media" minOccurs="0" maxOccurs="1" />
         </xs:all>
         <xs:attribute name="number" use="required" type="xs:integer" />
         <xs:attribute name="title" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="lines">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="8" ref="line" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="line">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:any minOccurs="0" />
         </xs:sequence>
         <xs:attribute name="bullet" use="required" type="xs:string" />
         <xs:attribute name="level" use="required" type="xs:integer" />
      </xs:complexType>
   </xs:element>

   <xs:element name="media">
      <xs:complexType>
         <xs:sequence>
            <xs:choice>
               <xs:element maxOccurs="3" ref="image" />
               <xs:element maxOccurs="1" ref="embed" />
               <xs:element maxOccurs="1" ref="video" />
            </xs:choice>
         </xs:sequence>
         <xs:attribute name="type" use="required" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="image">
      <xs:complexType mixed="true">
         <xs:attribute name="orderby" use="optional" type="xs:positiveInteger" />
         <xs:attribute name="large" use="optional" type="xs:string" />
         <xs:attribute name="medium" use="optional" type="xs:string" />
         <xs:attribute name="standard" use="optional" type="xs:string" />
         <xs:attribute name="thumbnail" use="optional" type="xs:string" />
         <xs:attribute name="mini" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="embed">
      <xs:complexType mixed="true">
         <xs:attribute name="type" type="xs:string" />
         <xs:attribute name="cache_age" type="xs:integer" />
         <xs:attribute name="thumbnail_url" type="xs:anyURI" />
         <xs:attribute name="thumbnail_height" type="xs:integer" />
         <xs:attribute name="thumbnail_width" type="xs:integer" />
         <xs:attribute name="provider_url" type="xs:anyURI" />
         <xs:attribute name="provider_name" type="xs:string" />
         <xs:attribute name="author_url" type="xs:anyURI" />
         <xs:attribute name="author_name" type="xs:string" />
         <xs:attribute name="version" type="xs:decimal" />
         <xs:attribute name="title" type="xs:string" />
         <xs:attribute name="height" type="xs:integer" />
         <xs:attribute name="width" type="xs:integer" />
         <xs:attribute name="html" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="video">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" ref="encoding" />
            <xs:element minOccurs="1" maxOccurs="1" ref="source" />
            <xs:element minOccurs="1" maxOccurs="1" ref="poster" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>

   <xs:element name="poster">
      <xs:complexType mixed="true">
         <xs:attribute name="guid" type="xs:string" />
         <xs:attribute name="large" use="optional" type="xs:string" />
         <xs:attribute name="medium" use="optional" type="xs:string" />
         <xs:attribute name="standard" use="optional" type="xs:string" />
         <xs:attribute name="thumbnail" use="optional" type="xs:string" />
         <xs:attribute name="mini" use="optional" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="source">
      <xs:complexType>
         <xs:attribute name="duration_in_ms" use="optional" type="xs:long" />
         <xs:attribute name="audio_bitrate_in_kbps" use="optional" type="xs:integer" />
         <xs:attribute name="audio_sample_rate" use="optional" type="xs:integer" />
         <xs:attribute name="video_bitrate_in_kbps" use="optional" type="xs:integer" />
         <xs:attribute name="total_bitrate_in_kbps" use="optional" type="xs:integer" />
         <xs:attribute name="video_codec" use="optional" type="xs:string" />
         <xs:attribute name="audio_codec" use="optional" type="xs:string" />
         <xs:attribute name="frame_rate" use="optional" type="xs:decimal" />
         <xs:attribute name="format" use="optional" type="xs:string" />
         <xs:attribute name="channels" use="optional" type="xs:integer" />
         <xs:attribute name="file_size_in_bytes" use="optional" type="xs:long" />
         <xs:attribute name="width" use="optional" type="xs:integer" />
         <xs:attribute name="height" use="optional" type="xs:integer" />
      </xs:complexType>
   </xs:element>

   <xs:element name="encoding">
      <xs:complexType mixed="true">
         <xs:attribute name="width" use="required" type="xs:integer" />
         <xs:attribute name="height" use="required" type="xs:integer" />
         <xs:attribute name="codecs" use="required" type="xs:string" />
         <xs:attribute name="format" use="required" type="xs:string" />
         <xs:attribute name="mime" use="required" type="xs:string" />
      </xs:complexType>
   </xs:element>

   <xs:element name="conclusion">
      <xs:complexType mixed="true">
         <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
